section#hero
    width: 100%
    height: 100vh
    background-image: linear-gradient(to bottom, rgba($darkBlue, .8), rgba($darkBlue, .8)), url(img/heroBg.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: top center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 25vh
    +breakpoint
        display: block
        text-align: center
        padding-top: 40vh
    p, a
        color: white
    p
        margin-bottom: 30px
    h1
        color: rgb(241, 249, 216)
        margin-bottom: 150px
        position: relative
        font-weight: lighter
        font-size: xx-large
        text-transform: uppercase
        &:after
            content: ''
            width: 60px
            height: 2px
            background-color: white
            display: block
            margin: 20px auto 0
    a
        background-color: $pink
        &:first-of-type
            margin-bottom: 30px
        +breakpoint
            margin: 0 30px
